@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Nunito Sans", sans-serif;
    background: #11072e;
    background: linear-gradient(0deg, rgba(17, 7, 46, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f2f2f2;
    padding: 50px 25px;
    min-height: 100vh;
}

.container {
    max-width: 470px;
    margin: 0px auto;
}

.btns {
    margin: 20px 0px;
    display: flex;
    gap: 18px;
}

.btns .btn {
    display: inline-flex;
    background: #1b093d;
    background: linear-gradient(243deg, rgb(22, 3, 57) 20%, rgb(62, 33, 109) 100%);
    border: .5px solid #bc9fff;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    font-size: 25px;
    line-height: 22px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;

    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.btns input {
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #dcdcdc;
    width: 100%;
}

.clock {
    margin-top: 20px;
    display: flex;
    font-size: 50px;
    align-items: center;
    gap: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: "Nunito Sans", sans-serif;
    background: #5c3ac2;
    background: linear-gradient(0deg, rgba(92, 58, 194, 1) 0%, rgba(252, 252, 252, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 56px;
    margin-bottom: 30px;
}

h2 {
    font-size: 56px;
    margin-top: 60px;
}